body {
    background-image: url(../img/paintspill_background.jpg);
}

#newrowbutton {
    border: none;
    background: none;
    color: white;
}

#newrowbutton:focus {
    border: none;
    outline: none;
}