body {
    background: rgb(2, 0, 36);
    background: linear-gradient(103deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 22%, rgba(0, 212, 255, 1) 100%);
}

#name {
    position: fixed;
    float: left;
}

#nav {
    position: fixed;
    float: right;
}

.navmenu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 0, 0.3);
    padding: 4px;
    margin-top: 0;
    float: right;
}

.navmenu li {
    margin: 0 40px 0 0;
    padding: 1px;
}

.navmenu a:hover {
    color: rgba(165, 32, 32, 0.795);
    text-decoration: underline rgba(255, 0, 0, 0.219) 2px;
}

.navmenu a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}