ul {
    list-style: none;
}

#topbar {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(128, 0, 0, 1) 78%);
}

body {
    background-color: chocolate;
}

#footer {
    background-color: #ad880db3;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0;
    width: 100%;
}